
<div class="container-fluid hero-section">
  <div class="overlay"></div>
  <div class="content text-center">
      <h1 class="display-4">Best <span class="highlight">Task Management</span> Solutions For You</h1>
      <p class="lead">Manage your tasks efficiently and stay organized with our top-notch task management tool. </p>
      <ul class="list-unstyled">
          <li><i class="fas fa-home icon-highlight"></i>Effortlessly track and manage your tasks.</li>
          <li><i class="fas fa-wifi icon-highlight"></i> Collaborate with your team in real-time.</li>
      </ul>
      <a routerlink="#" class="btn btn-outline-light btn-lg">View Dashbord</a>
  </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>